@media screen and (max-width: 375px) {
    header{
        padding-top: 40px;
    }
    .logo > img {
        margin-right: 4px;
        width: 27px;
        height: 27px;
    }
    nav{
        display: none;
    }
    header>button{
        display: none;
    }
    .hero{
        flex-direction:column;
    }
    .heroDescription > h1 {
        font-size: 42px;
    }

    .heroDescription > p {
        font-size: 16px;
    }
}