header{
    background-color: #D9D9D9;
}
.news{
    background-color: #817C7C;;
}
.content1{
    background-color: #ABA8A8;;
}
.content2{
    background-color: #878484;
}
.sponsor{
    background-color: #B7AEAE;
}
.footer{
    background-color: #BDBDBD;

;
}
