body {
    margin: 0;
}

header, .left, .content1, .right, footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    height: 20vh;
    background: #927D7D;
}

main {
    display: flex;
}

.left {
    height: 60vh;
    width: 20vw;
    background: #817C7C;
}

.content1 {
    width: 60vw;
    height: 60vh;
    background: #A74848;;
}

.right {
    height: 60vh;
    width: 20vw;
    background: #817C7C;;
}

footer {
    height: 20vh;
    background-color: #BDBDBD;
}