body {
    margin: 0;
}

header, .content1, .content2, .news, .sponsor, footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    height: 21vh;

    background-color: #D9D9D9;
}

main {
    display: flex;
    height: 58vh;
}

.news {
    width: 18vw;

    background-color: #817C7C;;
}

.content {
    width: 64vw;

}

.content1 {
    height: 29vh;

    background-color: #ABA8A8;;
}

.content2 {
    height: 29vh;

    background-color: #878484;
}

.sponsor {
    width: 18vw;

    background-color: #B7AEAE;
}

footer {
    height: 21vh;

    background-color: #BDBDBD;;
}

