body {
    margin: 0;
}

header, .content1, .content2, .news1, .news2, .news3, footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    height: 19vh;

    background-color: #9B6F6F;
}

header, footer {
    color: white;
}

main {
    height: 60vh;
    display: flex;
}

.news {
    width: 34vw;
}

section {
    height: 20vh;
}

.news1 {
    background-color: #D9D9D9;
}

.news2 {
    background-color: #AA9898;
}

.news3 {
    background-color: #C5BBBB;
}

.content1 {
    width: 35vw;

    background-color: #8A8484;
}

.content2 {
    width: 31vw;

    background-color: #C0B3B3;
}

footer {
    height: 21vh;

    background-color: #524B4B;
}