.flex {
    display: flex;
    height: 300px;
    justify-content: space-evenly;
    align-items: center;
}

.square:hover {
    background-color: aquamarine;
    border-radius: 50%;

    transition: 3s;
}

.square {
    height: 100px;
    width: 100px;

    background-color: magenta;

    transition: 3s;
}