.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

h1 {
    margin: 50px;

    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.item {
    width: 200px;
    height: 100px;
    padding: 30px 50px;

    border: solid 3px green;
    border-radius: 10px;
}

.header {
    margin-top: 0;

    font-weight: bold;
    font-size: 17px;
    text-decoration: underline;
}

.paragraph {
    font-size: 15px;
}