body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;

    font-size: 50px;
    font-weight: bold;
    color: gray;
}

header {
    height: 30vh;
    margin-bottom: 10px;

    background-color: darkgray;
    border-radius: 7px;
}

.flex {
    height: calc(70vh - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: calc(80vw - 10px);
    height: calc(70vh - 10px);

}

.sectionB {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: darkgray;
    border-radius: 7px;
}

.collection {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3%;
    height: 100%;

    background-color: darkgray;
    border-radius: 7px;
}

footer {
    height: 100%;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: darkgray;
    border-radius: 7px;
}